<div id="<%= dom_id message %>">
  <p>
    <strong>Chatroom:</strong>
    <%= message.chatroom_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

</div>
