.imagewidth {
  width: 70%; /* 70% width for larger screens */
  height: auto; /* Let the height adjust automatically */
  margin: 0 auto; /* Center the image horizontally */
}

@media (max-width: 576px) { /* For small screens like iPhone 12 Pro */
  .imagewidth {
    width: 100%; /* 100% width on small screens */
    height: auto; /* Adjust the height automatically */
  }
}
