.highlight {
  background-color: #dff0d8; /* Light green background for available dates */
  border: 1px solid #c3e6cb; /* Green border */
}

.available-day {
  background-color: #90ee90; // Light green color
  cursor: pointer;
  border: 1px solid #008000; // Optional: to make it more distinct
}
