.highlight {
  background-color: #dff0d8; /* Light green background for available dates */
  border: 1px solid #c3e6cb; /* Green border */
}

.available-day {
  background-color: #90ee90; // Light green color
  cursor: pointer;
  border: 1px solid #008000; // Optional: to make it more distinct
}

.simple-calendar {
  table {
    min-height: 25vh;
    width: 69% !important;
  }
  .today {
    background-color: #FAF3DD;
  }
  .day{
    height: 35px !important;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}
